@model cafeteriamx.Models.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invetario_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invetario_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_prod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_prod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
