@model Cafemax.Models.Usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_usu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_usu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_usu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_usu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_usu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contra_usu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contra_usu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_usu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
