@model RegistroSeccion.Models.Seccion
@{
    ViewBag.Title = "Actualizar - Seccion";
    var cur = new List<RegistroSeccion.Models.Curso>();
    using (var cnx = new RegistroSeccion.Models.Model1())
    {
        cur = cnx.Curso.ToList();
    }
}

<style>
    td {
        padding: 10px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        vertical-align: middle;
    }
</style>
<br />
<h4>Gestión de Seccion</h4>
<div class="alert alert-@ViewBag.alerta"> - - <b>@ViewBag.res</b> - - </div>
<form action="/Seccion/Actualizar" method="post">
    <input type="hidden" name="id" id="id" value="@Model.id_sec" />
    <table>
        <tr>
            <td style="text-align: right">Numero de Aula:</td>
            <td><input class="form-control" style="width: 350px" value="@Model.aula_sec" type="text" name="nu" id="nu" required /></td>
            <td style="text-align: right">Curso:</td>
            <td>
                <select class="form-control" id="cu" name="cu" size="1" required>
                    <option value="">-- Seleccionar --</option>
                    @{ string selec = "";}
                    @foreach (var c in cur)
                    {
                        if (c.estado_cur)
                        {
                            if (@c.id_cur.Equals(Model.id_cur))
                            {
                                selec = "selected";
                            }
                            <option value="@c.id_cur" @selec>@c.descripcion_cur</option>
                            selec = "";
                        }

                    }
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Estado:</td>
            <td>Disponible @Html.CheckBox("es", @Model.estado_sec)</td>
            <td style="text-align: right">Fecha de Registro:</td>
            <td><input class="form-control" type="date" value="@Model.fecha_registro_sec.ToString("yyyy-MM-dd")" name="fe" id="fe" required /></td>
        </tr>
    </table>
    <br /><br />
    @*--------------------------------------------------*@
    <button class="btn btn-primary" type="button" onclick="location.href='../Alumno/Index'"><span class="glyphicon glyphicon-user"> Nuevo Alumno</span></button>
    <button class="btn btn-secondary" type="button"
            data-target="#modal_alumno" data-toggle="modal"
            data-backdrop="static" data-keyboard="false">
        <span class="glyphicon glyphicon-user"> Agregar Alumno</span>
    </button>
    <br /><br />
    <table class="table table-bordered">
        <thead style="background-color: darkgrey; color:white">
            <tr><th>Código</th><th>DNI</th><th>Nombre</th><th>Apellidos</th><th>Accion</th></tr>
        </thead>
        <tbody id="tabla_atr"></tbody>
    </table>
    @*--------------------------------------------------*@
    <br /><br />
    <button class="btn btn-success" type="submit" name="btn1" id="btn1"><span class="glyphicon glyphicon-save"> Actualizar</span></button>
    <button class="btn btn-danger" type="reset" name="btn2" onclick="location.href='../Seccion/Index'" id="btn2"><span class="glyphicon glyphicon-remove"> Regresar</span></button>
</form>
<br />
@Html.Partial("_Modal_Alumno")

<script>
    $(document).ready(function () {
        $.post(
            '/Seccion/det_actualizar_sec', {
                id: $('#id').val()
            }, function (res) {
                $('#tabla_atr').html(res)
            });
    });
</script>

